body{
    font-family: 'Roboto Slab', serif;
}
.fullWidth{
    width: 100%;
}
.center{
    margin: 0 auto;
}
.margin-top-bottom-5 {
    margin: 5px 0;
   }
.margin-left-right-5{
    margin: 0 5px;
}
.margin-left-right-10{
    margin: 0 10px;
}
.pull-left{
    float:left !important;
}
.pull-right{
    float:right;
}
.div-center{
    margin: 0 auto;
}
.post-content{
    /* width: 500px; */
    width: 100%;
}
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}
h3{
    font-size:20px
}
a h3{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:#3f3d3d;
}
.post-meta {
    text-decoration: none;
    color: #9999
}
.post-meta a{
    text-decoration: none;
    color: #9999
}
.post-meta a:hover{
    text-decoration: none;
    color: #9999
}
.post-control{
    /* width: 500px; */
    width: 100%;
    height: 50px;
}
.post-afterbar-a{
    display: -webkit-inline-box;;
    color: #fff;
    font-weight: bold;
    height: 39px;
    background-color: #f4f4f4;
    line-height: 39px;
    padding: 0 7px 0 7px;
    border-radius: 2px;
    text-align: center;
    color: #fff !important;
    position: relative;
}
.post-afterbar-a a{
    cursor: pointer;
}
.facebook{
    background-color: #3b5998;
}
.btn-control{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 44px;
    height: 40px;
    display: block;
    /* text-indent: -999px; */
    position: relative;
}
.btn-control:hover{
    border: 1px solid black;
}
.btn-control a{
    color: #9999;
    text-decoration: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.group-control-post li{
    margin: 0 8px 0 0;
    float: left;
    list-style: none;
    padding: 4px;
}
.group-control-post{
    text-align: center;
    margin:0;
    padding: 0;
}
.clearfix{
    clear: both;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.posts-wapper{
    background-color: #3498db;
}
.comment-box.first {
    border-top: none;
    padding-top: 10px;
}
.comment-box .avatar {
    float: left;
    overflow: hidden;
}
.comment-box .avatar .image-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: #f4f4f4;
}
.comment-box .avatar img {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}
.comment-box .payload {
    margin-left: 60px;
}
.comment-box .payload .textarea-container textarea.focus, .comment-box.indent-1 .payload .textarea-container textarea {
    height: 50px;
    cursor: text;
    border-bottom: none;
}
.textarea-container{
    border:1px solid #ccc
}
.comment-box .action {
    height: 38px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-top-color: #eee;
}
.comment-box .action:before, .comment-box .action:after {
    display: table;
    content: '';
}
 .comment-box .payload textarea,  .comment-box .payload input[type='url'] {
    width: 100%;
    margin: 0;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0;
    line-height: 1.6em;
    cursor: pointer;
}
 textarea,  input[type='url'] {
    outline: none;
    line-height: 20px;
    padding: 6px 9px;
    margin: 6px 0;
    display: block;
    border: 1px solid #ccc;
    font: 13px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
 input[type='text'],  input[type='email'],  input[type='password'],  input[type='url'],  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.iconEmoji{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    text-indent: -999px;
    overflow: hidden;
    margin-right: 10px;
}
.cmnt-reaction{
    color: #9999;
}
a.cmnt-btn {
    color: #fff;
    background-color: #09f;
    padding: 2px 13px;
    border: 1px solid #09f;
    border-radius: 3px;
    font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    -webkit-appearance: none;
    margin-left: 10px;
}
#fixed_btn {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
  }
.holder_uploading_image_comment{
    width:100px;
    height:100px;
    background-color: #9999;
    position: relative;
    margin: 0px 0px 10px 10px;
    display: table;
}
.holder_uploading_image_comment .loading{
    position: absolute;
    left:35%;
    top:35%
}
.comment_img{
    max-width: 200px;
    height: auto;
}
.list-comment .box-comment-1 .avatar .image-container a img{
    height:50px;
    width:50px;
}
.detail-comment a{
    font-weight: bold;
    color: black;
}
.small-text {
color: #ccc;
font-size:11px;
}
.box-comment-2{
    clear: both;
    margin-top:5px;
    margin-left:50px
}
.control-comment{
    color: #ccc;
    font-size:13px
}
.control-comment:hover{
    cursor: pointer;
    color:rgba(112, 111, 111, 0.6);
}